body {
  color: #000080;
}

.header {
  text-align: center;
  margin-block-end: 1rem;
}

h1 {
  font-size: 1.125rem;
  margin: 0;
}

.cap {
  font-size: 2rem;
}

.inc {
  font-size: 0.8125rem;
}

.add {
  font-size: 0.8125rem;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 1rem;
  margin: 0;
}

.hero {
  display: flex;
  justify-content: space-evenly;
}

.ins {
  text-align: center;
}
